:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --contact-footer-color: rgba(255, 255, 255, 0.6);
  --background-color: #ffffff;
  --context-color: #2f303a;
  --button-color: #f5f4fa;
  --border-color: #ececec;
  --icons-color: #afb1b8;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  background-color: var(--background-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
  }
}

.page-header {
  border-bottom: 1px solid var(--border-color);
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .page-header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 1200px) {
  .page-header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.site-nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
    margin-left: 88px;
    margin-right: 75px;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav {
    display: flex;
    align-items: center;
    margin-left: 0;
    margin-right: 305px;
  }
}

@media screen and (min-width: 768px) {
  .header-item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .header-item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .header-item:first-child {
    margin-left: 93px;
  }
}

.item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.item:hover, .item:focus {
  color: var(--accent-color);
}

.item.current {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--accent-color);
}

.current {
  position: relative;
  padding-bottom: 32px;
}

.current::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  background: var(--accent-color);
  border-radius: 2px;
}

.container-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .container-nav:not(:last-child) {
    margin-right: 30px;
  }
}

.link {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.container-nav .link:hover,
.container-nav .link:focus {
  color: var(--accent-color);
}

.nav-icon {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .nav-icon {
    margin-right: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .nav-icon {
    margin-right: 10px;
  }
}

@media screen and (min-width: 768px) {
  .nav-icon-mail {
    width: 14px;
    height: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .nav-icon-mail {
    width: 16px;
    height: 12px;
  }
}

@media screen and (min-width: 768px) {
  .nav-icon-phone {
    width: 10px;
    height: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .nav-icon-phone {
    width: 10px;
    height: 16px;
  }
}

.contacts-header {
  display: none;
}

@media screen and (min-width: 768px) {
  .contacts-header {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-header {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .contact-link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--title-text-color);
  }
}

@media screen and (min-width: 1200px) {
  .contact-link {
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (min-width: 768px) {
  .contact-item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--accent-color);
}

.logo--black {
  color: var(--primary-text-color);
}

.logo--white {
  color: var(--background-color);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--background-color);
  width: 100vw;
  height: 100vh;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 48px;
  padding-left: 40px;
}

.main-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-close {
  display: flex;
  top: 10;
  right: 15;
  margin-left: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.menu-close:hover {
  fill: var(--accent-color);
}

.mob-menu-item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.main-link-current {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--accent-color);
}

.menu-open {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.menu-open:hover {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}

.hero {
  background-color: var(--context-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  max-width: 480px;
  padding-top: 118px;
  padding-bottom: 118px;
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-color);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 360px;
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.hero-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--background-color);
  background-color: var(--accent-color);
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  min-height: 50px;
  border-radius: 4px;
  border-color: transparent;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover, .hero-button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.activity {
  display: none;
}

@media screen and (min-width: 1200px) {
  .activity {
    display: block;
    padding-top: 0;
  }
}

.activity__list {
  display: flex;
}

.activity__item {
  position: relative;
}

.activity__item:not(:last-child) {
  margin-right: 30px;
}

.activity__name {
  position: absolute;
  width: 100%;
  height: 70px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 27px 82px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.advantages__container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--button-color);
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
}

.advantages__list {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .advantages__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 30px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__list {
    display: flex;
  }
}

.advantages__item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .advantages__item {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__item {
    width: 270px;
  }
}

.advantages__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
  margin-bottom: 10px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .advantages__title {
    text-align: left;
  }
}

.advantages__descr {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  width: 100%;
}

.team {
  background-color: var(--button-color);
}

@media screen and (min-width: 768px) {
  .team__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__list {
    display: flex;
  }
}

.team__item {
  background: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
}

.team__item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .team__item {
    margin-bottom: 0;
  }
}

.team__member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 30px;
}

.team__position {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-align: center;
  margin-top: 10px;
}

.team-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  padding-right: 32px;
  padding-bottom: 30px;
  padding-left: 32px;
}

.team-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
}

.team-list-container:not(:last-child) {
  margin-right: 10px;
}

.team-icon-link {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-link:hover, .team-icon-link:focus {
  background-color: var(--accent-color);
}

.team-icon-container {
  width: 20px;
  height: 20px;
  fill: var(--icons-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-link:hover .team-icon-container,
.team-icon-link:focus .team-icon-container {
  fill: var(--background-color);
}

.clients__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

@media screen and (min-width: 768px) {
  .clients__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__list {
    display: flex;
  }
}

.clients__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 92px;
}

@media screen and (min-width: 768px) {
  .clients__item {
    width: 226px;
    height: 92px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    width: 170px;
    height: 92px;
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--icons-color);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__item:hover .clients__link,
.clients__item:focus .clients__link {
  border: 1px solid var(--accent-color);
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: var(--icons-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--accent-color);
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .filter-list {
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .filter-list {
    margin-bottom: 50px;
  }
}

.filter {
  margin-bottom: 15px;
  margin-right: 8px;
}

.filter:nth-last-child(-n + 2) {
  margin-bottom: 0;
}

.filter:nth-child(3) {
  margin-right: 0;
}

.filter:nth-child(5) {
  margin-right: 0;
}

@media screen and (min-width: 768px) {
  .filter {
    margin-bottom: 0;
  }
  .filter:nth-child(3) {
    margin-right: 8px;
  }
}

.filter-list .filter-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--button-color);
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-list .filter-btn:hover, .filter-list .filter-btn:focus {
  color: var(--background-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-btn {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  border-radius: 4px;
  border-color: transparent;
}

.works-list {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .works-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .works-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}

.works-example {
  margin-bottom: 30px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.works-example:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .works-example {
    margin-bottom: 0;
  }
}

.works-example-list {
  position: relative;
  overflow: hidden;
}

.works-example-text {
  position: absolute;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  top: 0;
  left: 0;
  width: 100%;
  height: 294px;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  height: 100%;
  color: var(--background-color);
  background-color: rgba(33, 150, 243, 0.9);
}

.works-example:hover .works-example-text {
  transform: translateY(0);
}

.works-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.works-descr {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.container-example {
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  padding: 20px 18px;
}

.main-footer-container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .main-footer-container {
    width: 480px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .main-footer-container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .main-footer-container {
    width: 1200px;
    display: flex;
    align-items: baseline;
    margin: 0 auto;
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .second-footer-container {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .second-footer-container {
    margin-bottom: 0;
  }
}

.footer-wrapper {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-wrapper {
    margin-right: 165px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-wrapper {
    margin-right: 70px;
  }
}

.link-item {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--contact-footer-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-item:hover, .link-item:focus {
  color: var(--accent-color);
}

.footer-link:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .footer-link:not(:last-child) {
    margin-bottom: 9px;
  }
}

.content {
  background-color: var(--context-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--background-color);
  margin-top: 20px;
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  address {
    margin-bottom: 9px;
  }
}

.button-send-footer {
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 auto;
}

.button-title {
  margin-right: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--background-color);
}

@media screen and (min-width: 1200px) {
  .footer-social-links {
    margin-right: 93px;
  }
}

.footer-nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-nav-list {
    margin-bottom: 0;
  }
}

.footer-item-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
}

.footer-item-list:not(:last-child) {
  margin-right: 10px;
}

.footer-item-link {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-item-link:hover, .footer-item-link:focus {
  background-color: var(--accent-color);
}

.footer-icons {
  width: 20px;
  height: 20px;
  fill: var(--background-color);
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-color);
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .form-footer {
    margin-right: 12px;
  }
}

.form-footer {
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .form-footer {
    margin-bottom: 0;
  }
}

.modal-input-footer {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(71, 9, 9, 0.15));
  border-radius: 4px;
  background-color: transparent;
  outline: none;
}

@media screen and (min-width: 768px) {
  .modal-input-footer {
    width: 450px;
    height: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-input-footer {
    width: 358px;
    height: 50px;
  }
}

.modal-input-footer::placeholder {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 295px;
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-wrapper {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.is-hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 450px;
  min-height: 609px;
  padding: 40px;
  background-color: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

@media screen and (min-width: 1200px) {
  .modal-title {
    line-height: 1.5;
  }
}

.modal-input {
  width: 100%;
  height: 40px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 42px;
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: var(--accent-color);
}

.modal-input:focus + .modal-input-icon {
  fill: var(--accent-color);
}

.icon-wrap {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.modal-input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-lable {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: var(--title-text-color);
}

.modal-text {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-text:focus {
  border-color: var(--accent-color);
}

.policy-wrap {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

@media screen and (min-width: 1200px) {
  .policy-wrap {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.check-link {
  color: var(--accent-color);
}

.modal-field-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.check-text .text-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  margin-right: 7px;
}

.input-check:checked + .check-text .text-wrap {
  background-color: var(--accent-color);
  border: none;
}

.icon-check {
  fill: var(--background-color);
}

.modal-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--background-color);
  background-color: var(--accent-color);
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: var(--background-color);
  border: 1px solid rgba(56, 41, 41, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover {
  fill: var(--accent-color);
}

.close-icon {
  width: 11px;
  height: 11px;
}
/*# sourceMappingURL=main.css.map */