@import './utils/variables';
@import './base/reset';
@import './base/common';
@import './components/container';
@import './components/section-title';
@import './layout/header';
@import './components/logo';
@import './layout/hero';
@import './components/hero-button';
@import './layout/activity';
@import './layout/advantages';
@import './layout/team';
@import './components/team-social';
@import './layout/clients';
@import './components/works-button';
@import './layout/works';
@import './layout/footer';
@import './components/footer-button';
@import './components/footer-social';
@import './components/footer-title';
@import './components/footer-form';
@import './components/modal';
@import './components/modal-button';
@import './components/close-button';