.activity {
  display: none;
  @media screen and (min-width: 1200px) {
    display: block;
    padding-top: 0;
  }
}

.activity__list {
  display: flex;
}

.activity__item {
  position: relative;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.activity__name {
  position: absolute;

  width: 100%;
  height: 70px;
  left: 0;
  right: 0;
  bottom: 0;

  padding: 27px 82px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-color);
  background-color: rgba(47, 48, 58, 0.8);
}
