// .main-footer-container {
//   max-width: 1200px;
//   display: flex;
//   align-items: baseline;
//   margin-right: auto;
//   margin-left: auto;
// }

.main-footer-container {
  width: 480px;
  text-align: center;
  @media screen and (min-width: 768px) {
    width: 768px;
  }
}

.second-footer-container {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-bottom: 60px;
  }
}

.footer-wrapper {
  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    margin-right: 165px;
    margin-bottom: 0;
  }
}

.link-item {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--contact-footer-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-link:not(:last-child) {
  margin-bottom: 8px;
}

.content {
  background-color: var(--context-color);

  padding-top: 60px;
  padding-bottom: 60px;
}

// .footer-link {
//   margin-bottom: 9px;
// }

address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--background-color);

  margin-top: 20px;
  margin-bottom: 8px;
  // margin-bottom: 9px;
}

// .footer-wrapper {
//   margin-right: 70px;
// }
