.button-send-footer {
  width: 200px;
  height: 50px;

  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button-title {
  margin-right: 10px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: var(--background-color);
}
