.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--background-color);
  width: 100vw;
  height: 100vh;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 48px;
  padding-left: 40px;
}

.menu-close {
  display: flex;
  top: 10;
  right: 15;
  margin-left: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
  &:hover {
    fill: var(--accent-color);
  }
}
