.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--background-color);
  width: 100vw;
  height: 100vh;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 48px;
  padding-left: 40px;
  z-index: 2;
}

.main-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95%;
}

.item-phone {
  margin-bottom: 32px;
}

.link-phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-decoration: none;
}

.link-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;
}

.menu-social {
  margin-top: 32px;
}

.list-social {
  display: flex;
}

.link-social {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--accent-color);
}

.item-social {
  padding-right: 10px;
  &:not(:first-child) {
    padding-left: 10px;
  }
  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.menu-close {
  display: flex;
  top: 10;
  right: 15;
  margin-left: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
  &:hover {
    fill: var(--accent-color);
  }
}

.mob-menu-item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mob-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.main-link-current {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--accent-color);
}
