.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--background-color);
  width: 100vw;
  height: 100vh;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 48px;
  padding-left: 40px;
}

.main-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-close {
  display: flex;
  top: 10;
  right: 15;
  margin-left: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
  &:hover {
    fill: var(--accent-color);
  }
}

.mob-menu-item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mob-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.main-link-current {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--accent-color);
}
