.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 450px;
  min-height: 609px;
  padding: 40px;

  background-color: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 1200px) {
    width: 528px;
    min-height: 581px;
  }
}

.modal-title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
  @media screen and (min-width: 1200px) {
    line-height: 1.5;
  }
}

.modal-input {
  width: 100%;
  height: 40px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 42px;

  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: var(--accent-color);
    + .modal-input-icon {
      fill: var(--accent-color);
    }
  }
}

.icon-wrap {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.modal-input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-lable {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;

  margin-bottom: 4px;

  color: var(--title-text-color);
}

.modal-text {
  width: 100%;
  height: 120px;
  resize: none;

  padding: 12px 16px;
  margin-bottom: 20px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &::placeholder {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  &:focus {
    border-color: var(--accent-color);
  }
}

.policy-wrap {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.check-link {
  color: var(--accent-color);
}

.modal-field-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.check-text .text-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  margin-right: 7px;
  .input-check:checked + & {
    background-color: var(--accent-color);
    border: none;
  }
}

.icon-check {
  fill: var(--background-color);
}
