:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --contact-footer-color: rgba(255, 255, 255, 0.6);
  --background-color: #ffffff;
  --context-color: #2f303a;
  --button-color: #f5f4fa;
  --border-color: #ececec;
  --icons-color: #afb1b8;
}
